body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

.background-container {
    position: relative;
    width: 100%;
    height: 70%;
    overflow: hidden;
}

.background-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 10%;
    box-sizing: border-box;
    pointer-events: none;
}

.fixed-content {
    pointer-events: auto;
    z-index: 2;
}

.text-container {
    max-width: 50%;
}

.louisgan-text {
    font-family: 'Archivo', sans-serif;
    font-size: 4rem;
    font-weight: 800;
    color: #172d19;
    line-height: 1.2;
}

.hobbies-text {
    font-family: 'Archivo', sans-serif;
    font-size: 2rem;
    font-weight: 400;
    color: #172d19;
    line-height: 1.2;
}

.cards-outer-container {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    overflow-y: auto;
    width: 50%;
}

.cards-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 20px;
    padding: 20px;
    padding-bottom: 0;
    box-sizing: border-box;
    padding-right: 20%;
}

.card {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    width: 90%;
    height: 200px;
    max-width: 300px;
    flex-shrink: 0;
    border: 2px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-title {
    color: #172d19;
    font-weight: bold;
    font-family: 'Archivo', sans-serif;
    font-size: 0.9rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}

.card-title-container {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background-color: white;
    border-radius: 15px;
    padding: 5px 10px;
    max-width: calc(100% - 20px);
}

.ticker-container {
    width: 100%;
    height: 40px;
    overflow: hidden;
    background-color: white;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.ticker-content {
    display: flex;
    white-space: nowrap;

    animation: ticker 60s linear infinite;
}

.ticker-text {
    display: inline-block;
    padding: 2px 2rem;
    font-family: 'Archivo', sans-serif;
    font-weight: bold;
    font-size: 2rem;
    color: black;
}

@keyframes ticker {
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(-100%, 0, 0);
    }
}

@media (max-width: 768px) {
    .content-container {
        padding: 30px;
    }

    .text-container {
        max-width: 100%;
    }

    .louisgan-text {
        font-size: 3rem;
    }

    .hobbies-text {
        font-size: 1.5rem;
    }

    .cards-outer-container {
        top: auto;
        bottom: 0;
        left: 0;
        width: 100%;
        height: auto;
        max-height: 75%;
    }

    .cards-container {
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        padding-left: 30px;
        overflow-x: auto;
        overflow-y: hidden;
    }

    .card {
        width: 250px;
        max-width: none;
        height: 150px;
        margin-right: 10px;
    }

    .ticker-container {
        height: 30px;
    }

    .ticker-text {
        font-size: 1.4rem;
        padding: 3px 1rem;
    }
}
